body {
    color: blueviolet;
}

img {
    width: 100%;
}

.colot-purple {
    color: blueviolet
}

.btn-success:hover {
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34;
}

.btn-purple {
    background-color: blueviolet;
}

.btn-purple:hover {
    background-color: blueviolet;
}